#titulo {
    color: blueviolet;
}
p.texto {
    color: brown;
}
 p.especial {
    color: blue;
 }

 div p {
    color: cadetblue;
 }
 div h2, div h3 {
    color: chocolate;
 }

 * {
    font-size: 24px;
/*     color: black; */

 }

 /* Comentario - Esto es un comentario */

 /* 
 .color {
    color: #ff0000;
 }

  .color {
    color: rgb(0,0,255);
 } 

 */


 .color {
   /*  border: 3px black solid; */
    /*
    dotted
    dashed
    solid
    double
    groove
    ridge
    inset
    outset
    nonehidden
    */
    border-style: solid;
    border-color: blueviolet;
    border-radius: 5px;
    border-width: 5pc;
    
 }

 #fondo {
   /* background-color: red; */
   background-color: rgba(255, 0,0, 0);
  /*  opacity: 0.3; */
  height: 300px;
   background-image: url('f1.jpeg');
   
   background-repeat: repeat-y;
   background-position: center top;
   background: #f00 url('f1.jpeg') repeat-y center bottom / 100px 100px;

 }
 .margen {
   background-color: aqua;
   margin: 15px; /* Margenes feura del elemento */
   padding: 30px 15px 15px; /* Margenes dentro del elemento */
   border: solid 1px black;
   height: 100px;
   width: 50px;
   overflow: scroll;
   outline: 1px solid red;
 }

 .text {
   font-family: 'Roboto', sans-serif; /* Agregar una nuev fuente de letra */
   text-align: justify;
   text-decoration: overline;
   text-shadow: 3px 5px 5px blue; /* agregar difuminado, sombras */
 }

 a:link {
   color: blueviolet;
 }
 a:visited {
   color: grey;
 }
 a:hover {
   color: yellow
 }
 a:active {
   color: red;
 }
 ul {
   background-color:  cyan;
   list-style-type: georgian;
   /* padding-left: 0; */
   /* list-style-position:  inside; */
 }

 table {
   width: 100%;
   border-collapse: collapse;

 }

 th, td {
   border: solid 0.5px;
   padding: 5px;
 }
 th {
   background-color:  tomato;
   color: white;
   text-align: left;
 }
 tr:nth-child(even) {
   background-color: #eee;
 }

 tr:hover {
   background-color: #aaa;
   cursor: pointer;
 }

 span {
   display: block; /* vienen en la mayoria de los elementos que s eusan en html */
 /* display: none; */
 /* visibility: hidden; */
 max-width: 300px;
 background-color: red;
 }

 .inline {
   display: inline;
 }

 #position {
   position: sticky; /* Por defefcto todos los elementos de htmñ */
   left: 20px;
   top: 25px;
 }

 .left {
   float: left;
   width: 100px;
 }
 .right {
   float: right;
 }
 .container {
   height: 200px;
 }

 .card {
   border: solid 0px #ddd;
   border-radius: 5px;
   margin: 0 ;
   padding: 10px 0;
   width: 33.3%;
 }

 .inline-block {
   display: inline-block;
   height: 100px;
   background-color: red;
 }

 .center {
   padding: 50px 0;
   text-align: center;
   width: 200px;
   margin: 0 auto;
   background-color: aqua;
 }